{% extends "tree.html" %}
{% load permdisplay %}
{% block widgets %}
    $("#acl").accordion({
   		header: 'h3',
   		collapsible: true,
        active: false
   	});
{% endblock %}
{% block content %}
<h1>Permissions on {{name.short}}</h1>
<div id="acl" style="margin-bottom: 20px;">
{% for ace in acl %}
	<div id="{{ace.id}}">
	   <h3 class="listheader">Permissions for {{ace.dst|acldstdisplay}}</h3>
	   <div>
	      <div>{{ace.dst|acldstdisplay}} {{ace.data|permdisplay}}.</div>
	      <div class="rlist button">
	         <ul>
	            <li><a href="/name/{{ace.src.id}}/acl/{{ace.id}}/remove">Remove</a></li>
	         </ul>
	      </div>
	   </div>
	</div>
{% endfor %}
</div>
<div class="ui-helper-reset ui-widget ui-widget-content ui-corner-all infopanel">
   <ul class="ilist">
      <li class="button"><a href="/name/{{name.id}}/acl/0/add">Add Permission</a></li>
      {% if name %}
      <li class="button" style="float: right;"><input type="button" onClick="document.location='{{name.url}}'" value="Cancel"/></li>
	  {% endif %}
   </ul>
   <div class="clear"></div>
</div>
{% endblock %}