{% extends "edit_fieldsets.html" %}
{% load permdisplay %}
{% block widgets %}
   	$('#wizard').formwizard({
    	validationEnabled: true,
    	focusFirstInput: true,
    	textSubmit: "Finish",
    	validationOptions: {
    		rules: {
    			subject_label: 'required'
    		}
    	}
    });
    $('#id_subject').autocomplete({
    		source: "/name/search.json",
    		focus: function(event, ui) {
                $('#id_subject').val(ui.item.label);
                return false;
            },
            select: function(event, ui) {
                $('#id_subject').val(ui.item.label);
                $('#id_dst').val(ui.item.value);
                return false;
            },
			minLength: 2,
			open: function() {
				$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
    });
{% endblock %}