<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
        <link type="text/css" href="/site-media/css/flick/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
        <!-- link type="text/css" href="/site-media/css/jquery.jnotify.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.tooltip.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.tagInput.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.multiselect2side.css" rel="stylesheet" /-->
        <link type="text/css" href="/site-media/css/jquery.ui.autocomplete.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.wysiwyg.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/style.css" rel="stylesheet"/>
        <script type="text/javascript" src="/site-media/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery-ui-1.8.10.custom.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.tooltip.pack.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.gravatar.js"></script>
        <script type="text/javascript" src="/site-media/js/md5.js"></script>
        <!-- script type="text/javascript" src="/site-media/js/jquery.jnotify.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.timers.js"></script -->
        <!-- script type="text/javascript" src="/site-media/js/jquery.tagInput.js"></script-->
        <!-- script type="text/javascript" src="/site-media/js/jquery.multiselect2side.js"></script -->
        <script type="text/javascript" src="/site-media/js/jquery.jstree.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.wysiwyg.js"></script>
        <!-- script type="text/javascript" src="/site-media/js/jquery.form.js"></script-->
        <script type="text/javascript" src="/site-media/js/jquery.validate.js"></script>
        <script type="text/javascript" src="/site-media/js/bbq.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.form.wizard-3.0.4.js"></script>
        <script type="text/javascript" src="/site-media/js/tag-it.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
		<script type="text/javascript">
		$(function() {
		   $("input:submit, input:reset, input:button, a",".button").button();
		   $('.tip').tooltip({showURL: false});
		   $.validator.setDefaults({
				highlight: function(input) {
					$(input).addClass("ui-state-error");
					$(input).removeClass("ui-state-default");
				},
				unhighlight: function(input) {
					$(input).removeClass("ui-state-error");
					$(input).addClass("ui-state-default");
				}
		   });
		});
		</script>
        {% block js %}{% endblock %}
</head>
<body>
<div id="notification"></div>
<div id="container">
	<div id="header">
	   {% if name %}
	   <div style="float: left;" class="navlist toolbar">
	       <ul>
	       	  {% if render.add %}
			  <li class="button"><a href="/name/{{name.id}}/add">Add Group</a></li>
			  {% endif %}
		      <li class="button"><a class="tip" title="This is the full name of the group. This is the name that will be exposed to applications." href="{{name.url}}">{{ name }}</a></li>
	       </ul>
	   </div>
	   {% endif %}
	   {% if user.is_authenticated %}
	   <div class="navlist toolbar">
	      <ul>
	         <li class="button"><a id="logout" href="/accounts/logout">Logout</a></li>
	      </ul>
	   </div>
	   {% endif %}
	   {% if noname %}
	   <div class="navlist toolbar">
		  <ul>
		  	 {% if render.acl %}
			 <li class="button"><a href="/name/{{name.id}}/link/0">Modify Access</a></li>
			 {% endif %}
		     {% if render.edit %}
			 <li class="button"><a href="/name/{{name.id}}/edit">Modify</a></li>
			 {% endif %}
			 {% if render.delete %}
			 <li class="button"><a href="/name/{{name.id}}/delete">Delete</a></li>
			 {% endif %}
			 {% if render.invite %}
			 <li class="button"><a href="/name/{{name.id}}/invite">Invite</a></li>
			 {% endif %}
		   </ul>
	   </div>
	   {% endif %}
	   <div class="clear"></div>
	</div>
	<div id="content">
		<div id="headline">{% block headline %}{% endblock %}</div>
		<div id="main">
		   	{% block main %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
	   <ul>
	     <li><a href="#about">About COIP</a></li>
	     <li><a href="#about">Terms Of Use</a></li>
	   </ul>
	   <ul style="float: right;">
	     <li><a href="/user/home">Logged in as {{ profile.display_name }} ({{ profile.identifier }})</a></li>
	   </ul>
	</div>
</div>
</body>
</html>
