<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
        <link type="text/css" href="/site-media/css/flick/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.jnotify.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.tooltip.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.tagInput.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.multiselect2side.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/jquery.wysiwyg.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/style.css" rel="stylesheet"/>
        <script type="text/javascript" src="/site-media/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.tooltip.pack.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.gravatar.js"></script>
        <script type="text/javascript" src="/site-media/js/md5.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.jnotify.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.timers.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.tagInput.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.multiselect2side.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.jstree.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery.wysiwyg.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
		<script type="text/javascript">
		   function _i(message) {
		   	  $('#notification').jnotifyAddMessage({
		          text: message,
		          permanent: false,
		          type: 'info'
		      });
		   }
		   function _e(message) {
		   	  $('#notification').jnotifyAddMessage({
		          text: message,
		          permanent: true,
		          type: 'error'
		      });
		   }
		$(function() {
		   $("input:submit, input:button, a",".button").button();
		   $('#notification').jnotifyInizialize({
		      oneAtTime: false,
		      appendType: 'append'
		   }).css({
		      'font-size': "120%",
		      'position': 'absolute',
		      'marginTop': '20px',
		      'padding': '15px',
		      'right': '20px',
		      'width': '250px',
		      'z-index': '9999'
		   });
		   $('.tip').tooltip({showURL: false});
		});
		</script>
        {% block js %}{% endblock %}
</head>
<body>
<div id="notification"></div>
<div id="container">
	<div id="header">
	   {% if user.is_authenticated %}
	   <div class="ui-widget ui-state-default ui-corner-all navlist toolbar">
	      <ul>
	         <li><a title="Logout" class="tip" id="logout" href="/accounts/logout"><span class="ui-icon ui-icon-power"></span></a></li>
	         <li><a title="{{ profile.display_name }} ({{ profile.identifier }})" class="tip" href="/user/home"><span class="ui-icon ui-icon-home"></span></a></li>
	      </ul>
	   </div>
	   {% endif %}
	   {% if name %}
	   <div class="ui-widget ui-state-default ui-corner-all navlist toolbar">
		  <ul>
		  	 {% if render.edit %}
			 <li><a class="tip" title="Modify access rights" href="/name/{{name.id}}/link/0"><span class="ui-icon ui-icon-unlocked"></span></a></li>
			 {% endif %}
		     {% if render.edit %}
			 <li><a class="tip" title="Modify" href="/name/{{name.id}}/edit"><span class="ui-icon ui-icon-wrench"></span></a></li>
			 {% endif %}
			 {% if render.delete %}
			 <li><a class="tip" title="Permanently remove this" href="/name/{{name.id}}/delete"><span class="ui-icon ui-icon-trash"></span></a></li>
			 {% endif %}
			 {% if render.insert %}
			 <li><a class="tip" title="Create child" href="/name/{{name.id}}/add"><span class="ui-icon ui-icon-plusthick"></span></a></li>
			 {% endif %}
			 {% if render.invite %}
			 <li><a class="tip" title="Invite someone to join" href="/name/{{name.id}}/invite"><span class="ui-icon ui-icon-heart"></span></a></li>
			 {% endif %}
			 <li><a class="tip" title="Refresh" href="/name/id/{{name.id}}"><span class="ui-icon ui-icon-refresh"></span></a></li>
		   </ul>
	   </div>
	   {% endif %}
	   <div class="clear"></div>
	</div>
	<div id="content">
		<div id="headline">{% block headline %}{% endblock %}</div>
		<div id="main">
		   	{% block main %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
	   <ul>
	     <li><a href="#about">About COIP</a></li>
	     <li><a href="#about">Terms Of Use</a></li>
	   </ul>
	   <ul style="float: right;">
	     <li><a href="/user/home">Logged in as {{ profile.display_name }} ({{ profile.identifier }})</a></li>
	   </ul>
	</div>
</div>
</body>
</html>
