{% extends "tree.html" %}
{% block widgets %}{% endblock %}
{% block content %}
    {% block beforeform %}
    {% endblock %}
		<form method="POST" id="wizard" class="bbq infopanel">
		    <h1>{{formtitle}}</h1>
		    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
			{% for fieldset in form.fieldsets %}
			  <fieldset id="{{fieldset.name}}" class="{{ fieldset.classes }}">
				  {% if fieldset.legend %}
				  <legend class="ui-state-highlight ui-corner-all">{{ fieldset.legend }}</legend>
				  {% endif %}
				  {% if fieldset.description %}
				  <p class="description">{{ fieldset.description }}</p>
				  {% endif %}
				  <ul class="inputs">
				  {% for field in fieldset %}
				    {% if field.is_hidden %}
				      {{ field }}
				    {% else %}
				      <li class="inputs {% if field.field.required %}required{% endif %}" {{ field.row_attrs }}>
				        {{ field.errors }}
				        <label for="id_{{ field.html_name }}" class="fieldlabel">{{ field.label }}
                        {% if field.field.required %}<b>*</b>{% endif %}</label>
				        <div class="fieldinput">{{ field }}</div>
				      </li>
				    {% endif %}
				  {% endfor %}
				  </ul>
			  </fieldset>
			{% endfor %}
		   <ul class="ilist" style="padding-bottom: 30px; padding-top: 5px;">
		      <li class="button left"><input type="reset" value="Back"/></li>
		      <li class="button left"><input type="submit" value="Finish"/></li>
		      {% if name %}
		      <li class="button right"><input type="button" onClick="document.location='{{name.url}}'" value="Cancel"/></li>
		      {% endif %}
		   </ul>
		</form>
{% endblock %}