{% extends "tree.html" %}
{% block widgets %}
    $('#id_expires').datepicker({'dateFormat': 'yy-mm-dd','timeFormat': 'hh:ii:ss'});
    $('#id_description').wysiwyg();
{% endblock %}
{% block content %}
    {% block beforeform %}
    {% endblock %}
	<form method="POST">
		<div class="infopanel">
		    <h1>{{formtitle}}</h1>
			<table class="formtable">
		      {% for field in form %}
		        <tr>
		          <td>
			          {% if not field.is_hidden %}
			          <div class="ui-widget fieldlabel">{{ field.label_tag }}</div>
			          {% endif %}
			          {% if field.errors %}
			          <div class="ui-widget ui-state-error">{{ field.errors }}</div>
			          {% endif %}
			          <div class="ui-widget">{{ field }}</div>
		          </td>
		        </tr>
		      {% endfor %}
		    </table>
		</div>
		<br/>
		<div class="button">
		    <input type="submit" value="{{submitname}}" />
		    <input type="button" onClick="document.location='{{name.url}}'" value="Cancel"/>
	    </div>
	</form>
{% endblock %}