{% extends "tree.html" %}
{% block widgets %}
    $('#id_expires').datepicker({'dateFormat': 'yy-mm-dd','timeFormat': 'hh:ii:ss'});
    $('#id_description').wysiwyg();
{% endblock %}
{% block content %}
{% block beforeform %}{% endblock %}
<div>
	<form method="POST" class="bbq ui-helper-reset ui-widget ui-widget-content ui-corner-all infopanel">
	    <h1>{{formtitle}}</h1>
		<table class="formtable">
	      {% for field in form %}
	        <tr>
	          <td>
		          {% if not field.is_hidden %}
		          <div class="ui-widget fieldlabel">{{ field.label_tag }}</div>
		          {% endif %}
		          {% if field.errors %}
		          <div class="ui-widget ui-state-error">{{ field.errors }}</div>
		          {% endif %}
		          <div class="ui-widget">{{ field }}</div>
	          </td>
	        </tr>
	      {% endfor %}
	    </table>
		<div class="ilist" style="padding-bottom: 10px;">
		   <ul>
		      <li class="button left"><input type="submit" value="{{submitname}}" /></li>
		      {% if name %}
		      <li class="button right"><input type="button" onClick="document.location='{{name.url}}'" value="Done"/></li>
		      {% endif %} 
		   </ul>
	    </div>
	</form>
</div>
{% endblock %}