{% extends "tree.html" %}
{% block widgets %}{% endblock %}
{% block content %}
    {% block beforeform %}
    {% endblock %}
    <div class="infopanel">
		<form method="POST" id="wizard" class="bbq" style="padding: 5px;">
		    <h1>{{formtitle}}</h1>
		    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
			{% for fieldset in form.fieldsets %}
			  <fieldset id="{{fieldset.name}}" class="{{ fieldset.classes }}">
				  {% if fieldset.legend %}
				  <legend class="ui-state-highlight ui-corner-all">{{ fieldset.legend }}</legend>
				  {% endif %}
				  {% if fieldset.description %}
				  <p class="description">{{ fieldset.description }}</p>
				  {% endif %}
				  <ul class="links">
				  {% for field in fieldset %}
				    {% if field.is_hidden %}
				      {{ field }}
				    {% else %}
				      <li class="links {% if field.field.required %}required{% endif %}" {{ field.row_attrs }}>
				        {{ field.errors }}
				        <label for="id_{{ field.html_name }}">{{ field.label }}
                        {% if field.field.required %}<b>*</b>{% endif %}</label>
				        {{ field }}
				      </li>
				    {% endif %}
				  {% endfor %}
				  </ul>
			  </fieldset>
			{% endfor %}
			<div class="ilist button" style="padding-bottom: 10px;">
			   <ul>
			      <li><input type="reset" value="Back"/></li>
			      <li><input type="submit" value="Finish"/></li>
			      {% if name %}
			      <li style="float: right;"><input type="button" onClick="document.location='{{name.url}}'" value="Cancel"/></li>
			      {% endif %}
			   </ul>
		    </div>
		</form>
	</div>
{% endblock %}