{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
$(function() {
    {% block widgets %}{% endblock %}
{% if name %}
   	$('#jstree').jstree({
   		'json_data': {
   			'ajax': {
   				'url': function(n) {
   					if (n == -1) {
   						return {% if name %}"/rtree/"+{{name.id}}+".json"{% else %}"/rtree.json"{% endif %};
   					} else {
   						return "/ctree/"+n.attr('id')+".json";
   					}
   				}
   			},
   			"progressive_render"  : true,
   		},
   		'themes': {
   			'theme': 'classic'
   		},
   		'animation': 0,
   		'plugins': ['themes','json_data']
   	});
{% endif %}
});
</script>
{% endblock %}
{% block headline %}<a style="text-decoration: none" href="{% if name %}/name/id/{{name.id}}{% else %}/{% endif %}">{% if name %}{{name.shortname}}{% else %}{{profile.display_name}}{% endif %}</a>{% endblock %}
{% block title %}COIP{% if name %} - {{name.shortname}}{% endif %}{% endblock %}
{% block main %}
{% if name %}
<div id="left">
    <div id="tree">
		{% if name and render.up %}
		{% if name.parent %}
		<a href="/name/id/{{name.parent.id}}">.. (up one level)</a>
		{% else %}
		<a href="/name">.. (up one level)</a>
		{% endif %}
		{% endif %}
		<div id="jstree"></div>
   </div>
   <div id="related">
   		{% if name and name.links %}
   		<h3 style="float: left;">Related resources</h3>
   		{% if render.edit %}
   		<a style="float: left; margin-top: 11px;" class="tip" title="Add Link" href="/name/{{name.id}}/addlink"><span class="ui-icon ui-icon-plus"></span></a>
   		{% endif %}
   		<div class="clear"></div>
   		<ul class="links"">
   		{% for link in name.links.all %}
   		   <li>
   		      <a class="tip" title="{{link.text}}" href="{{link.url}}">{{link.text}}</a>
   		      <a class="tip" title="Remove link" href="/link/{{link.id}}/remove"><span class="ui-icon ui-icon-close" style="float: right; clear: both;"></span></a>
   		   </li>
   		{% endfor %}
   		</ul>
   		<div class="clear"></div>
   		{% endif %}
   </div>
</div>
{% endif %}
<div id="right">
{% block content %}{% endblock %}
</div>
{% endblock %}