{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
$(function() {
    {% block widgets %}{% endblock %}
   	function _hide_sidebar(first) {
   		if (first) {
   			$('#thesidebar').hide();
   		} else {
   			$('#thesidebar').hide("fast");
   		}
   		$('#theseparator').addClass('ui-icon-arrowthickstop-1-e');
   		$('#theseparator').removeClass('ui-icon-arrowthickstop-1-w');
   		$.cookie('sidebar', 'off', { expires: 30 });
   		return "off";
   	}
   	function _show_sidebar(first) {
   		_refresh_tree();
   		if (first) {
   			$('#thesidebar').show();
   		} else {
   			$('#thesidebar').show("fast");
   		}
   		$('#theseparator').removeClass('ui-icon-arrowthickstop-1-e');
   		$('#theseparator').addClass('ui-icon-arrowthickstop-1-w');
   		$.cookie('sidebar', 'on', { expires: 30 });
   		return "on";
   	}
   	function _load_state() {
   		c = $.cookie('sidebar');
   		_hide_sidebar(true);
	   	if (c == "on") {
	   		_show_sidebar(true);
	   		return "on";
	   	} else {
	   		return "off";
	   	}
	}
	var sidebar = _load_state();
	$('#theseparator').addClass('ui-icon');
	//$('#theseparator').hover(function() {
	//	$(this).addClass('ui-state-hover');
	//},function() {
	//	$(this).removeClass('ui-state-hover');
	//});
   	$('#theseparator').click(function() {
   		if (sidebar == "on") {
   			sidebar = _hide_sidebar();	
	   	} else {
	   		sidebar = _show_sidebar();
	   	}
   	});
   	// must be last to avoid loading the tree if it is invisible
   	function _refresh_tree() {
	   	$('#jstree').jstree({
	   		'json_data': {
	   			'ajax': {
	   				'url': function(n) {
	   					if (n == -1) {
	   						return {% if name %}"/rtree/"+{{name.id}}+".json"{% else %}"/rtree.json"{% endif %};
	   					} else {
	   						return "/ctree/"+n.attr('id')+".json";
	   					}
	   				}
	   			},
	   			"progressive_render"  : true
	   		},
	   		'animation': 0,
	   		'themeroller': {
	   			'item': 'ui-state-none',
	   			'opened': 'ui-icon-circlesmall-minus',
	   			'closed': 'ui-icon-circlesmall-plus'
	   		},
	   		'plugins': ['json_data','themeroller']
	   	});
	   	$('#jstree').removeClass('ui-widget-content');
	}
});
</script>
{% endblock %}
{% block main %}

<ul class="ilist" style="margin-bottom: 80px;">
	<li id="thesidebar">
	   <div id="tree">
	      <ul class="clist">
			{% if name %}
			{% if name.parent %}
			<li>{% if render.up %}<a href="{{name.parent.url}}">{%endif%}{{name.parent.url}}{%if render.up%}</a>{%endif%}</li>
			{% else %}
			<li><a href="/name">{{prefix_url}}</a></li>
			{% endif %}
			{% endif %}
			<li><div style="min-height: 300px;" class="ui-helper-reset" id="jstree"></div></li>
		  </ul>
	   </div>
	   <!-- div id="related">
	   		{% if name and name.links %}
	   		<h3 style="float: left;">Related resources</h3>
	   		{% if render.edit %}
	   		<a style="float: left; margin-top: 11px;" class="tip" title="Add Link" href="/name/{{name.id}}/addlink"><span class="ui-icon ui-icon-plus"></span></a>
	   		{% endif %}
	   		<div class="clear"></div>
	   		<ul class="links"">
	   		{% for link in name.links.all %}
	   		   <li>
	   		      <a class="tip" title="{{link.text}}" href="{{link.url}}">{{link.text}}</a>
	   		      <a class="tip" title="Remove link" href="/link/{{link.id}}/remove"><span class="ui-icon ui-icon-close" style="float: right; clear: both;"></span></a>
	   		   </li>
	   		{% endfor %}
	   		</ul>
	   		<div class="clear"></div>
	   		{% endif %}
	   </div -->
	</li>
	<li id="theseparator">&nbsp;</li>
	<li id="thecontent">
		<div id="headline">
			<a style="text-decoration: none" href="{% if name %}{{name.url}}{% else %}/user/home{% endif %}">{% if name %}{{name.shortname}}{% else %}Dashboard{% endif %}</a>
		</div>
		<div>
	    	{% block content %}{% endblock %}
	    </div>
	</li>
	
</ul>
{% endblock %}