{% extends "tree.html" %}
{% load datehumanize %}
{% block widgets %}
	$("#gravatar").append($.gravatar($('#email').text()));
	$("#names").accordion({
   		header: 'h3',
   		collapsible: true,
        active: false
   	});
   	$("#memberships").accordion({
   		header: 'h3',
   		collapsible: true,
        active: false
   	});
{% endblock %}
{% block content %}
<h3>Memberships</h3>
<div id="memberships">
	{% for m in memberships.all %}
	<div id="m{{m.id}}" class="{{m.status}}">
	   <h3 class="listheader">{{m.name.shortname}}</h3>
	   <div>
	   	  You became a member of <a href="/name/id/{{m.name.id}}">{{m.name.shortname}}</a> {{m.timecreated|datehumanize}}
	   </div>
	</div>
	{% empty %}
	<p style="padding: 5px;" class="ui-corner-all ui-state-highlight">You are not a member of any names</p>
	{% endfor %}
</div>
<h3>Names</h3>
<div id="names">
	{% for n,p in names %}
	<div id="n{{n.id}}">
	   <h3 class="listheader">{{n.shortname}}</h3>
	   <div>
		  <a href="/name/id/{{n.id}}">{{n.shortname}}</a>
	   </div>
	</div>
	{% empty %}
	<p style="padding: 5px;" class="ui-corner-all ui-state-highlight">You do not control any names</p>
	{% endfor %}
</div>
{% endblock %}