html,body { font-size: 80%; font-family: arial, sans-serif; height: 100%; margin:0; padding:0;}
div#container { position: relative; width: 70%; height:auto !important; height:100%; min-height:100%; margin: 0; margin-left: 50px;}
label { display:block; }
#modal-dialog { font-size: 110%; }
#modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
#modal-dialog fieldset { padding:0; border:0; margin-top:25px; }
div#footer { font-size: 100%; border-top: 1px solid #CECECE; position: absolute; bottom: 0; width: 100%; padding-bottom: 50px; margin-right: 50px;}
div#footer ul { margin-right: 50px; list-style: none; padding: 0; margin: 0; }
div#footer li { float: left; margin: 0 0.15em}
.navlist ul { list-style: none; padding: 0; margin: 0; }
.navlist li { float: right; display: inline;}
.ilist ul { list-style: none inside; padding: 0px; margin: 0px; }
.ilist li { display: inline-block; padding: 0px; margin: 0px; }
.leftright ul { display: inline; list-style: none inside; padding: 0px; }
.leftright li { display: inline-block; padding: 0px; vertical-align: top; }
.rlist ul { list-style: none inside; padding: inherit; }
.rlist li { float: right; display: inline; padding: inherit; }
.clist ul { list-style: none; }
.clist li { display: block; }
.formpadding { padding: 5px; }
p.description { padding-top: 20px; padding-bottom: 5px; }
div#header { margin-top: 5px; margin-bottom: 20px; margin-right: 50px; }
div#headline{ font-size: 300%; margin-bottom: 20px;}
.name { margin-top: 5px;}
div#left { float: left; width: 30%; padding-left: 5px; }
div#right { float: right; width: 65%; }
div#related { position: absolute; bottom: 30%;}
ul.links { list-style: none inside; padding: 0; margin: 0; }
li.links { padding: 0; margin: 0; }
form .ui-widget ul { list-style: none inside; padding: 0; margin: 0; }
form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
.fieldlabel { font-weight: bold; }
.fieldinput ul { list-style: none inside; padding: 0; margin: 0; }
.fieldinput li { padding: 0; margin: 0; }
div#tree { padding-bottom: 50px;}
#linklist { float: right; margin-right: 50px; }
#linklist ul{ list-style: none; padding: 0; margin: 0; }
#linklist li{ float: left; margin: 0 0.15em}
#linklist a{ }
.clear { clear: both; }
div#content { padding-bottom: 5px; }
.code{font: 110% "Courier", fixed}
.infopanel { padding: 1em 2.2em; }
.infopanel label { display:block; }
div .hidden {visibility:hidden;}
.listheader { padding-left: 20px; }
.button {  }
legend {  font-size: 120%; font-weight: bold;  }
.right  { float: right; }
.left { float: left; }