html,body { font-size: 80%; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; height: 100%; margin:0; padding:0;}
body { min-width: 800px; width: 100%; }
#container { position: relative; height:auto !important; height: 100%; min-height: 80%; margin-left: 0px; margin-top: 0; padding-bottom: 90px;}
.centered { margin-right: auto; margin-left: auto;  width: 800px;  }
#footer { width: 100%; position: absolute; bottom: 0; padding-bottom: 20px; background-color: #CECECE; }
ul.list-of-lists { list-style: none; padding: 0; margin: 0; margin: 0;  padding: 0; padding-bottom: 30px; }
ul.list-of-lists li { display: inline; }
ul.list-of-lists li ul { float: left; padding-right: 50px; }
ul.list-of-lists li ul li { display: block; }
#header { width: 100%; padding-top: 5px; padding-bottom: 5px; background-color: #CECECE; margin-bottom: 10px;}
#welcome { font-size: 150%; margin-top: 100px;}
#topmenubar { padding-right: 50px; }
#appname {  padding: 0px 50px;}
.tabs { margin-top: 5px; }
.tabs div { min-height: 280px; vertical-align: top; }
#appname h1 { font-size: 230%; font-weight: bold; margin: 0 0;}
#headline{ font-size: 300%; margin-bottom: 20px;}
#content{ padding-bottom: 50px; margin-left: 20px; min-width: 600px; width: 90%; }
#modal-dialog { font-size: 110%; }
#modal-dialog input.text textarea { margin-bottom:12px; width:95%; padding: .4em; }
#modal-dialog fieldset { padding:0; border:0; margin-top:25px; }

h3.listheader { padding-left: 20px; }

ul.ilist { list-style: none inside; margin: 0; padding 0; padding-left: 0px}
.ilist li { display: inline-block; margin: 0; padding 0; }

ul.rlist { list-style: none inside; padding: 0; margin: 0; padding-left: 0px}
.rlist li { float: right; display: inline; padding: 0; margin: 0; }

ul.clist { list-style: none; padding: 0; margin: 0;}
.clist li { display: list-item; padding: 0; margin: 0;}

.nlist ul { list-style: none; }
.nlist li { display: list-item; list-style: none; }
.square li { list-style: none inside none; }

.clear { clear: both; }
.code{font: 110% "Courier", fixed}

div .hidden {visibility:hidden;}
form .fieldset ul,ol { list-style: none inside; padding: 0; margin: 0; }
form .fieldset legend { font-size: 120%; font-weight: bold; }
form .fieldset {  }
form .fieldset input[type=text] { height: 25px; }
form .fieldset label { font-weight: bold; }
ul.fieldinput { list-style: none inside; padding: 0; margin: 0; }
.fieldinput li { padding: 0; margin: 0; display: inline; float: left; }
ul.inputs { list-style: none inside; padding: 0; margin: 0; }
.inputs li { padding: 0; margin: 0; margin-top: 10px;}
.infopanel { padding: 1em 2.2em; }
.error { padding: 5px; }
ul.links { list-style: none inside; padding: 0; margin: 0; }
li.links { padding: 0; margin: 0; }
#form .ui-widget ul { list-style: none inside; padding: 0; margin: 0; }
#form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
.ui-icon { display: inline-block !important; }
.minipanel { padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 6px; }
.right  { float: right; }
.left { float: left; }
a, a:hover, a:visited {
	color: #E37424;
}
h1, h1 a {
	color: #E37424;
	font-size: 220%;
}
h2, h2 a {
	color: #E37424;
	font-size: 150%
}

#left, #main { vertical-align: top; display: inline-block; }
#left { width: 250px; padding-right: 20px;}
#main { width: 60%; }
